{% if isExport %} {% extends "./layouts/prod.html" %} {% else %} {% extends "./layouts/main.html" %} {% endif %}
{% block content %}
<section class="b-hero b-hero--alternate">
	<div class="l-width b-hero__container">
		<div class="b-hero__page-title">О проекте</div>
	</div>
</section>
<section class="b-section">
	<div class="l-width">
		<div class="b-figureset u-rmb40">
			<figure class="b-figureset__item">
				<p class="b-figureset__para"><img class="b-figureset__img" src="/images/b-figureset__img-1.jpg" alt=""></p>
				<figcaption class="b-figureset__caption">С Февраля по Июнь 2016&nbsp;года</figcaption>
			</figure>

			<figure class="b-figureset__item">
				<p class="b-figureset__para"><img class="b-figureset__img" src="/images/b-figureset__img-2.jpg" alt=""></p>
				<figcaption class="b-figureset__caption">ВШМ и Microsoft, Москва</figcaption>
			</figure>

			<figure class="b-figureset__item">
				<p class="b-figureset__para"><img class="b-figureset__img" src="/images/b-figureset__img-3.jpg" alt=""></p>
				<figcaption class="b-figureset__caption">Продажи и маркетинг: технологии лидеров</figcaption>
			</figure>
		</div>
		<div class="b-section__header">
			<h2 class="l-h1">Microsoft Business Administration</h2>
		</div>
		<div class="b-section__header-helper">Для руководителей по продажам и маркетингу российских компаний</div>
		<div class="b-typography u-rmb30">
			<p><strong>С&nbsp;февраля по&nbsp;июнь 2016 года Microsoft и&nbsp;Высшая школа менеджмента НИУ &laquo;Высшая школа экономики&raquo; проведут серию практических семинаров &laquo;Продажи и&nbsp;маркетинг: технологии лидеров&raquo;</strong> для коммерческих директоров и&nbsp;директоров по&nbsp;маркетингу. В&nbsp;программу войдут 5&nbsp;семинаров, темы которых разработаны лучшими профессорами, преподавателями Высшей Школы экономики при участии топ-менеджеров Microsoft и&nbsp;ведущих экспертов-практиков из&nbsp;российских компаний.</p>
			<p><strong>Основная идея проекта:</strong> объединить лучшее, что есть в&nbsp;сфере дополнительного образования, практического опыта и&nbsp;технологий:</p>
			<ul>
				<li>подход классического MBA-образования для тех, у кого нет времени;</li>
				<li>практические инструменты развития на сложном рынке от компаний, которым это успешно удается;</li>
				<li>сообщество руководителей маркетинга и продаж из разных отраслей бизнеса, c которыми можно реализовать самые прорывные и успешные проекты;</li>
				<li>новые технологии от мирового лидера для быстрой адапатации к вызовам рынка</li>
			</ul>
		</div>
		<ul class="b-list u-rmb40">
			<li class="b-list__item">
				<div class="b-list__img"><img src="/images/b-list__img-1.png" alt=""></div>
				<div class="b-list__text b-typography">
					Каждый <a href="/workshops">семинар</a> будет состоять из&nbsp;двухчасовой лекции профессора Высшей школы экономики, выступления и&nbsp;практической дискуссии с&nbsp;представителями заказчиков Microsoft в&nbsp;России, выступления топ-менеджера корпорации и&nbsp;практической демонстрации технологий для решения бизнес-задач.
				</div>
			</li>

			<li class="b-list__item">
				<div class="b-list__img"><img src="/images/b-list__img-2.png" alt=""></div>
				<div class="b-list__text b-typography">
					Сочетание широких теоретических знаний профессоров университета и&nbsp;практических примеров от&nbsp;наших заказчиков поможет участникам мастер-классов взглянуть по-новому на&nbsp;свой бизнес и&nbsp;оптимизировать внутренние процессы организации. <br>Это уникальные знания о&nbsp;применении последних технологий в&nbsp;маркетинге и&nbsp;продажах.
				</div>
			</li>

			<li class="b-list__item">
				<div class="b-list__img"><img src="/images/b-list__img-3.png" alt=""></div>
				<div class="b-list__text b-typography">
					По&nbsp;окончании курса, помимо дополнительного опыта в&nbsp;теории маркетинга и&nbsp;менеджмента, а&nbsp;также последних тенденций в&nbsp;сфере&nbsp;ИТ, участники получат дипломы от&nbsp;НИУ &laquo;ВШЭ&raquo; и&nbsp;Microsoft, а&nbsp;также новую книгу Игоря Манна &laquo;Согласовано!&raquo; от&nbsp;издательства &laquo;Манн, Иванов и&nbsp;Фербер&raquo;, выпущенную при поддержке Microsoft.
				</div>
			</li>
		</ul>

		<div class="b-quote">
			<div class="b-quote__text b-typography">
				Сотрудничество с&nbsp;Высшей школой экономики&nbsp;&mdash; ведущим исследовательским институтом страны&nbsp;&mdash; очень важный для нас шаг. Мы&nbsp;рады представить нашу первую совместную программу семинаров и&nbsp;поделиться с&nbsp;директорами по&nbsp;маркетингу и&nbsp;продажам богатым опытом, накопленным корпорацией за&nbsp;годы работы в&nbsp;России,&nbsp;&mdash; отметил Арсений Тарасов, директор департамента по&nbsp;работе с&nbsp;корпоративными заказчиками и&nbsp;партнерамиMicrosoft в&nbsp;России. &mdash;&nbsp;Уверен, сочетание широких теоретических знаний профессоров университета и&nbsp;практических примеров от&nbsp;наших заказчиков поможет участникам мастер-классов по-новому взглянуть на&nbsp;свой бизнес и&nbsp;оптимизировать внутренние процессы организации.
			</div>
			<div class="b-author b-quote__author">
				{%- for speaker in base.speakers %}
					{% if speaker.id == 'tarasov' %}
						<div class="b-author__inner">
							<div class="b-author__img">
								<img src="/images/{{ speaker.photo }}" alt="{{ speaker.name }}">
							</div>
							<div class="b-author__data">
								<div class="b-author__name">{{ speaker.name  }}</div>
								<div class="b-author__text">{{ speaker.bio|safe  }}</div>
							</div>
						</div>
					{% endif %}
				{% endfor -%}
			</div>
		</div>

		<div class="b-quote">
			<div class="b-quote__text b-typography">
				Поскольку компаниям в&nbsp;XXI веке суждено работать в&nbsp;открытых и&nbsp;быстро меняющихся системах бизнеса, то&nbsp;ключевым фактором конкурентоспособности становится адаптивность к&nbsp;запросам рынка. Иными словами, все яснее становится, что богатство фирмы это не&nbsp;столько огромные производственные или финансовые активы, сколько: умение работать с&nbsp;большими данными, эффективный маркетинг и&nbsp;выгодный доступ к&nbsp;лучшим активам, которые можно использовать для производства своих товаров или организации оказания своих услуг.
			</div>
			<div class="b-author b-quote__author">
				{%- for speaker in base.speakers %}
					{% if speaker.id == 'lipsits' %}
						<div class="b-author__inner">
						<div class="b-author__img">
							<img src="/images/{{ speaker.photo }}" alt="{{ speaker.name }}">
						</div>
						<div class="b-author__data">
							<div class="b-author__name">{{ speaker.name  }}</div>
							<div class="b-author__text">{{ speaker.bio|safe  }}</div>
						</div>
						</div>
					{% endif %}
				{% endfor -%}
			</div>
		</div>
	</div>
</section>

{% endblock %}