{% if isExport %} {% extends "./layouts/prod.html" %} {% else %} {% extends "./layouts/main.html" %} {% endif %} 

{% block content %} 
{% include 'blocks/b-hero.html' %} 
{% include 'blocks/section-about.html' %} 
{% include 'blocks/section-workshops.html' %} 
{% include 'blocks/section-speakers.html' %} 
{% include 'blocks/b-map.html' %} 
{% include 'blocks/section-contacts.html' %} 
{% include 'blocks/popups-workshops.html' %} 
{% endblock %} 

{% block pageScripts %}
<script src="/javascripts/slick.min.js"></script>
<script src="/javascripts/index.js"></script>

{% endblock %}
