<footer class="b-footer">
	<div class="l-width">
		<div class="b-footer__tr">
			<div class="b-footer__td b-footer__td--logo">
				<a class="b-footer__logo" href="https://www.microsoft.com/" target="_blank">
          <img src="/images/b-footer-ms-logo.png" alt="Microsoft">
        </a>
			</div>
			<div class="b-footer__td b-footer__td--logo">
				<a class="b-footer__logo" href="https://www.microsoft.com/" target="_blank">
          <img src="/images/b-footer-vshe-logo.png" alt="Microsoft">
        </a>
			</div>
			<div class="b-footer__td b-footer__td--copy">
				<p class="b-footer__copy">&copy;&nbsp;Microsoft Business Administration 2016</p>
			</div>
		</div>
	</div>
</footer>
