<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>


<div class="b-map" id="map"></div>


<div style="display: none">
  <img src="/images/yamap_placemark_gmc.png" alt="" id="yamap-gmc-image">
  <img src="/images/yamap_placemark_ms.png" alt="" id="yamap-ms-image">
  <div id="yamaps-gmc-address">
  		<div class="b-map-popover__content"><div class="b-map-popover__img"><img src="/images/b-footer-vshe-logo.png" alt=""></div>М. Гнездниковский пер., дом 4, 2-й этаж</div>	
  </div>
  <div id="yamaps-ms-address">
  		<div class="b-map-popover__content"><div class="b-map-popover__img"><img src="/images/b-footer-ms-logo.png" alt=""></div>Технологический центр Microsoft <br>ул. Лесная, 9</div>	
  </div>
</div>
<script src="/javascripts/map.js"></script>