<section class="b-section">
	<div class="l-width">
		<div class="b-section__header">
			<h2 class="l-h1">Контактная информация</h2>
		</div>
		<div class="b-section__header-helper">По вопросам участия в программе обращайтесь:</div>
		<div class="b-figureset">
			<figure class="b-figureset__item">
				<p class="b-figureset__para"><img class="b-figureset__img" src="/images/b-figureset__img-4.jpg" alt=""></p>
				<figcaption class="b-figureset__caption">Microsoft, <br>125252, Москва, а/я 70</figcaption>
			</figure>

			<figure class="b-figureset__item">
				<p class="b-figureset__para"><img class="b-figureset__img" src="/images/b-figureset__img-5.jpg" alt=""></p>
				<figcaption class="b-figureset__caption">Тел.: <a href="tel: +74959678585">+7 (495) 967-85-85</a> <br>Факс: +7 (495) 967-85-00</figcaption>
			</figure>

			<figure class="b-figureset__item">
				<p class="b-figureset__para"><img class="b-figureset__img" src="/images/b-figureset__img-6.jpg" alt=""></p>
				<figcaption class="b-figureset__caption">E-mail: <br><a href="mailto: mba@microsoft.com">MBA@microsoft.com</a></figcaption>
			</figure>
		</div>
	</div>
</section>