
.getMicrosoftFont('normal', 400, 'normal');

body {
	font-family: 'wf_segoe-ui', 'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
	font-size: @base-font-size;
	line-height: @base-line-height;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}